.card {
    /* grid-template-columns: 25% 75%;
    grid-column-gap: 10px; */
    /* height: 400px; */
    width: 80%;
    align-items: center;
    display:flex;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
    border: 5px solid #382171;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
#card_img {
    max-width: 30%;
    min-height: 400px;
    float: left;
    position: relative;
}

.column2 {
    max-width: 70%;
    position: relative;
}

#titleHeading {
    float: left;
    font-size: 1.5em;
}
#jobDuration {
    float: right;
    font-size: 1.5em;
}

#jobContent{
    display: block;
    float: left;
}

#toolsAndTechnologies {
    display: block;
    float: left;
}

.card_container {
    display: block;
}