.card {
    width: 80%;
    align-items: center;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
    border: 5px solid #382171;
    margin: 20px;
    padding: 2em;
}
@media (max-width:600px) {
    .card {
        flex-direction: column;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
.card_img {
    width: 200px;
}

@media (max-width:600px) {
    .card_img {
        max-width: 80%;
        align-self: center;
        margin: auto;
        display: block;
    }
}


.column2 {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.heads1 {
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {
    .heads1 {
        flex-direction: column;
        align-items: center;
    }
   
}

.heads2 {
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {
    .heads2 {
        flex-direction: column;
        align-items: center;
    }
}