.row {
    column-count: 2;
    top:20%;
    position: fixed;
    column-width: 50%;
}


#contact {
    max-width: 100%;
    height: auto;
    
}

#social_media {
    display: inline;
    float: left;
}

li {
    display: inline;
    
}

.social {
    height: 40px;
    width: 40px;
    padding: 10px;
    display: block;
}