.experience {
    max-width: 100%;
}

.experience_intro {
    display: inline;
}

.exp_img {
    max-width: 40% ;
    float: left;
    max-width: 400px;
    max-height: 400px;
}

.experience_content {
    max-width: 60%;
    right: 10%;

    text-align: center;
    size: 2em;
}

.experience_cards {
    display: block;
    align-items: center;
}