.experience {
    max-width: 100%;
}

.experience_intro {
    display: flex;
    /* width: 80%; */
    align-items: center;
    justify-content: space-around;
}

@media  (max-width:600px) {
    .experience_intro{
        flex-direction: column;
    }
  }

.exp_img {
    max-width: 30%;
}

@media  (max-width:600px) {
    .exp_img{
        max-width: 100%;
    }
  }

.experience_content {
    text-align: center;
    width: 50%;
    font-weight: 600;
}

@media  (max-width:600px) {
    .experience_content{
        width: 80%;
    }
}
.experience_cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em;
}