.edu_intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media  (max-width:600px) {
    .edu_intro{
        flex-direction: column;
    }
}

.edu_image {
    max-width: 30%; 
}

@media  (max-width:600px) {
    .edu_image{
        max-width: 100%;
    }
}

.edu_content {
    text-align: center;
    width: 50%;
}

@media  (max-width:600px) {
    .edu_content{
        width: 80%;
    }
}


.edu {
    display: block;
    max-width: 100%;
}


.certification {
    display: block;
    float: left;
}

.cert_card_container {
    display: flex;
}

@media  (max-width:600px) {
    .cert_card_container{
        flex-direction: column;
    }
}
.edu_and_cert {
    max-width: 100%;
}

.edu_cards {
    display: flex;
    max-width: 100%;
}