.projects_intro {
    display: flex;
}

.projects_img{
    float: left;
    max-width: 40%;
    max-width: 400px;
    max-height: 400px;
}

.projects_content {
    max-width: 60%;
}

.project_cards {
    display: flex;
     /* flex-direction: row;
     flex-wrap: wrap; 
    width: 100%;
    display: -webkit-flex;  */
}

.project_details {
    display: block;
}