.projects_intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media  (max-width:600px) {
    .projects_intro{
        flex-direction: column;
    }
}

.projects_img{
    max-width: 30%; 
}

@media  (max-width:600px) {
    .projects_img{
        max-width: 100%;
    }
}

.projects_content {
    text-align: center;
    width: 50%;
}

@media  (max-width:600px) {
    .projects_content{
        width: 80%;
    }
}

.projects_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.projects_details {
    max-width: 100%;
}