.skill_card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 1em;
    margin: 1.5em;
    padding: 2em;
}

@media (max-width:250px){
    .skill_card {
        max-width: 100%;
        
    }
   
}

.skill_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }


.skill_card img {
    width: 100%;
    display: block;
    align-self: center;
    margin: auto;
}

@media (max-width:250px){
    .skill_card img {
        max-width: 80%;
    }
   
}


/* .skill_head {

}

.skill_content {

} */