.verticalCard {
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
    border: 5px solid #382171;
    margin: 2em;
    padding: 1em;
    align-content: center;
    display: flex;
    flex-direction: column;
    
} 

@media  (max-width:600px) {
    .verticalCard{
        max-width: 100%;
    }
}

.verticalCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.vertical_card_image {
    max-width: 100%
    
}

.vertical_card_button {
    background-color:  #FFCCEF;
    border: 0.1em solid #FFCCEF;
    border-radius: 0.5em;
    padding: 1.5em;
}

.div_vertical_card {
    align-self: center;
}

.vertical_card_head{
    font-weight: 550;
    font-size: 1.1rem;
    text-align: center;
}


.vertical_card_subhead{
    font-weight: 550;
    font-size: 1rem;
}