#nav {
   width: 100%;  
  /* position: fixed; */
  top: 0;
  background-color: #FFCCEF;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  
}


@media  (max-width:600px) {
  #nav{
    flex-direction: column;
  }
}


.nav_list { 
 list-style-type: none;
  display: flex;
  justify-content: flex-end;
 
}
@media  (max-width:600px) {
  .nav_list{
    flex-direction: column;
  }
}

li {  
  padding: 8px;
  float: right;
}

#img_logo {
  height: 30px;
  width: 40px;
  float: left;
}

.page_content {
  /* position: relative; */
  max-width: 100%;
  display: block;
  margin-top: 60px;
}






