#nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFCCEF;
  height: 50px;
}

ul { 
 list-style-type: none;
 display: inline;
}

li {  
  padding: 8px;
  float: right;
}

#logo {
  float: left; 
}

#img_logo {
  height: 30px;
  width: 40px;
}

.page_content {
  position: relative;
  top:100px;
  max-width: 100%;
}

.main {
  display: block; 
  background-color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}