.me {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:600px) {
    .me {
        flex-direction: column;
        max-width: 100%;
    }
}

.lg_image{
 
    max-width: 340px;
}

@media (max-width:600px) {
    .lg_image{
        max-width: 80%;
        margin: auto;
        display: block;
        align-self:center;
    }
}

#content {
    
    color: black;
}

#name {
    font-size: 3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#details {
    font-size: 1.5em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#motivation {
    font-size: 1.2em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}



.social {
    height: 40px;
    width: 40px;
    padding: 10px;
}

#social_media {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

@media   (max-width: 600px) { 
    #social_media {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        /* align-items: center; */
    }
    #social_media li {
       width: 40%;
        
    }
}



.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    /* align-items: center ; */
    
    margin: 0 auto;
}

.about_me {
    max-width: 100%;
}

.skill_content  h2{
   align-self: center;
   text-align: center;
}

